<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head"); %>

  <body>
    <%- include("../partials/menu") %>

    <section class="container img_cont">
      <h1>
        Compartilhe suas aventuras e <br />
        descubra novos lugares ao redor do mundo!
      </h1>
    </section>

    <%- include("../partials/footer") %>
  </body>
</html>